.popup__close-button{
    position: absolute;
    right: 45.24px;
    top: 45.24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: opacity .3s ease-in-out;
}

.popup__close-button:hover{
    opacity: .8;
}